<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="MegaSummitConnectionString" connectionString="Data Source=WINDOWS-PC\MSSQLSERVER2012;Initial Catalog=MegaSummitInventory;Persist Security Info=True;User ID=sa;Password=abc123!@#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <pages enableEventValidation="true">

      </pages>

      <authentication mode="Forms">
        <forms loginUrl="~/index.aspx" timeout="2880" />
      </authentication>
      <membership>
        <providers>
          <clear />
          <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MegaSummitConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
        </providers>
      </membership>
      <profile>
        <providers>
          <clear />
          <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="MegaSummitConnectionString" applicationName="/" />
        </providers>
      </profile>
      <roleManager enabled="true">
        <providers>
          <clear />
          <add connectionStringName="MegaSummitConnectionString" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
          <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
        </providers>
      </roleManager>
      
    </system.web>

</configuration>
